# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import re

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, date_add
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum

import datetime

import numpy as np
import pandas as pd

import parso
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

In [3]:
import psycopg2
from sql_queries import immigration_table_insert, temperature_table_insert, i94port_table_insert

### Step 1: Scope the Project and Gather Data

#### Scope 
For the scope of work, there will be 2 dimension tables and 1 fact table. Firstly the immigration data will be aggregated by city, secondly the temperature data will be aggregated by city information. The results of these two operations will be merged based on city value to create one fact table. The final database will be created to analyze whether or not the temperature affects the destination cities of immigration.

#### Describe and Gather Data 
I94 immigration data gathered from the US National Tourism and Trade Office website. The format of the data is a binary database storage formata and called SAS7BDAT.

The temperature data is a Kaggle data set. It contains the temperature information of cities all around the world. This data can be found in the link below.
https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data

#### 1. Process of Immigration Data

In [ ]:
# Read in the immigration data here
fname = './data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [ ]:
raw_row_amount=len(df)

In [ ]:
df.head(50)

In [ ]:
# Read in the temperature data here
temp_data = './data/data2/GlobalLandTemperaturesByCity.csv'
df_temp_data = pd.read_csv(temp_data, sep=',')

In [ ]:
df_temp_data.head(50)

In [7]:
# Define Spark session
from pyspark.sql import SparkSession
spark2 = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [8]:
set(df_temp_data["Country"].values)

{'Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burma',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Congo',
 'Congo (Democratic Republic Of The)',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 "Côte D'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guinea Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Reunion',
 'Romania',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Somalia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [9]:
df_country = df_temp_data[df_temp_data["Country"] == "Turkey"]

In [10]:
df_country.head(10)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
3239,1743-11-01,10.013,2.291,Çorlu,Turkey,40.99N,27.69E
3240,1743-12-01,NaN,NaN,Çorlu,Turkey,40.99N,27.69E
3241,1744-01-01,NaN,NaN,Çorlu,Turkey,40.99N,27.69E
3242,1744-02-01,NaN,NaN,Çorlu,Turkey,40.99N,27.69E
3243,1744-03-01,NaN,NaN,Çorlu,Turkey,40.99N,27.69E
3244,1744-04-01,13.685,2.162,Çorlu,Turkey,40.99N,27.69E
3245,1744-05-01,15.021,1.824,Çorlu,Turkey,40.99N,27.69E
3246,1744-06-01,19.663,1.701,Çorlu,Turkey,40.99N,27.69E
3247,1744-07-01,22.314,1.648,Çorlu,Turkey,40.99N,27.69E
3248,1744-08-01,NaN,NaN,Çorlu,Turkey,40.99N,27.69E

In [11]:
list(set(df_country.City))

['Ankara',
 'Aksaray',
 'Malatya',
 'Osmaniye',
 'Zonguldak',
 'Karaman',
 'Turgutlu',
 'Afyonkarahisar',
 'Siverek',
 'Antakya',
 'Bursa',
 'Esenyurt',
 'Konya',
 'Tokat',
 'Iskenderun',
 'Eskisehir',
 'Samsun',
 'Turhal',
 'Izmir',
 'Isparta',
 'Erzurum',
 'Kayseri',
 'Edirne',
 'Gaziantep',
 'Gebze',
 'Siirt',
 'Izmit',
 'Viransehir',
 'Denizli',
 'Inegol',
 'Antalya',
 'Erzincan',
 'Adana',
 'Manisa',
 'Urfa',
 'Tekirdag',
 'Trabzon',
 'Ordu',
 'Çorlu',
 'Mersin',
 'Nazilli',
 'Tarsus',
 'Kütahya',
 'Çorum',
 'Sivas',
 'Batman',
 'Van',
 'Usak',
 'Alanya',
 'Istanbul',
 'Kahramanmaras']

In [12]:
# Dictionary of valid i94port codes is created
re_obj = re.compile(r'\'(.*)\'.*\'(.*)\'')
i94port_valid = {}

with open('i94port.txt') as f:
     for data in f:
        match = re_obj.search(data)
        i94port_valid[match[1]]=[match[2]]

In [13]:
# Convert dictionary to list to save as a dataframe
pCode=[]
pLocation=[]
for key, val in i94port_valid.items():
    pCode.append(key)
    pLocation.append(val)

In [14]:
port_locations = [f[0].replace("'","").strip() for f in pLocation]

In [15]:
print (port_locations)

['ALCAN, AK', 'ANCHORAGE, AK', 'BAKER AAF - BAKER ISLAND, AK', 'DALTONS CACHE, AK', 'DEW STATION PT LAY DEW, AK', 'DUTCH HARBOR, AK', 'EAGLE, AK', 'FAIRBANKS, AK', 'HOMER, AK', 'HYDER, AK', 'JUNEAU, AK', 'KETCHIKAN, AK', 'KETCHIKAN, AK', 'MOSES POINT INTERMEDIATE, AK', 'NIKISKI, AK', 'NOM, AK', 'POKER CREEK, AK', 'PORT LIONS SPB, AK', 'SKAGWAY, AK', 'ST. PAUL ISLAND, AK', 'TOKEEN, AK', 'WRANGELL, AK', 'MADISON COUNTY - HUNTSVILLE, AL', 'MOBILE, AL', 'LITTLE ROCK, AR (BPS)', 'ROGERS ARPT, AR', 'DOUGLAS, AZ', 'LUKEVILLE, AZ', 'MARIPOSA AZ', 'NACO, AZ', 'NOGALES, AZ', 'PHOENIX, AZ', 'PORTAL, AZ', 'SAN LUIS, AZ', 'SASABE, AZ', 'TUCSON, AZ', 'YUMA, AZ', 'ANDRADE, CA', 'BURBANK, CA', 'CALEXICO, CA', 'CAMPO, CA', 'FRESNO, CA', 'IMPERIAL COUNTY, CA', 'LONG BEACH, CA', 'LOS ANGELES, CA', 'MEADOWS FIELD - BAKERSFIELD, CA', 'OAKLAND, CA', 'ONTARIO, CA', 'OTAY MESA, CA', 'PACIFIC, HWY. STATION, CA', 'PALM SPRINGS, CA', 'SACRAMENTO, CA', 'SALINAS, CA (BPS)', 'SAN DIEGO, CA', 'SAN FRANCISCO, CA', 'SAN JOSE, CA', 'SAN LUIS OBISPO, CA', 'SAN LUIS OBISPO, CA (BPS)', 'SAN PEDRO, CA', 'SAN YSIDRO, CA', 'SANTA ANA, CA', 'STOCKTON, CA (BPS)', 'TECATE, CA', 'TRAVIS-AFB, CA', 'ARAPAHOE COUNTY, CO', 'ASPEN, CO #ARPT', 'COLORADO SPRINGS, CO', 'DENVER, CO', 'LA PLATA - DURANGO, CO', 'BRADLEY INTERNATIONAL, CT', 'BRIDGEPORT, CT', 'GROTON, CT', 'HARTFORD, CT', 'NEW HAVEN, CT', 'NEW LONDON, CT', 'NEWINGTON DATA CENTER TEST, CT', 'WASHINGTON DC', 'DOVER AFB, DE', 'DOVER-AFB, DE', 'WILMINGTON, DE', 'BOCAGRANDE, FL', 'BRADENTON - SARASOTA, FL', 'CAPE CANAVERAL, FL', 'DAYTONA BEACH INTERNATIONAL, FL', 'FERNANDINA, FL', 'FORT LAUDERDALE, FL', 'FORT MYERS, FL', 'FORT PIERCE, FL', 'HURLBURT FIELD, FL', 'J R ALISON MUNI - GAINESVILLE, FL', 'JACKSONVILLE, FL', 'KEY WEST, FL', 'LEESBURG MUNICIPAL AIRPORT, FL', 'MELBOURNE, FL', 'MIAMI, FL', 'NAPLES, FL #ARPT', 'OPA LOCKA, FL', 'ORLANDO, FL', 'PANAMA CITY, FL', 'PENSACOLA, FL', 'PORT CANAVERAL, FL', 'PORT EVERGLADES, FL', 'PORT ST JOE, FL', 'SANFORD, FL', 'ST AUGUSTINE ARPT, FL', 'ST AUGUSTINE, FL', 'ST LUCIE COUNTY, FL', 'ST PETERSBURG, FL', 'TAMPA, FL', 'WEST PALM BEACH, FL', 'ATLANTA, GA', 'BRUNSWICK, GA', 'BUSH FIELD - AUGUSTA, GA', 'SAVANNAH, GA', 'AGANA, GU', 'HONOLULU, HI', 'KAHULUI - MAUI, HI', 'KEAHOLE-KONA, HI', 'LIHUE, HI', 'CEDAR RAPIDS/IOWA CITY, IA', 'DES MOINES, IA', 'AIR TERM. (GOWEN FLD) BOISE, ID', 'EASTPORT, ID', 'FANNING FIELD - IDAHO FALLS, ID', 'PORTHILL, ID', 'CAPITAL - SPRINGFIELD, IL', 'CHICAGO, IL', 'DUPAGE COUNTY, IL', 'GREATER PEORIA, IL', 'GREATER ROCKFORD, IL', 'MEMORIAL - WAUKEGAN, IL', 'GARY, IN', 'HAMMOND, IN', 'INDIANAPOLIS, IN', 'MERRILLVILLE, IN', 'SOUTH BEND, IN', 'MID-CONTINENT - WITCHITA, KS', 'BLUE GRASS - LEXINGTON, KY', 'LOUISVILLE, KY', 'BATON ROUGE, LA', 'LAKE CHARLES, LA', 'LAKE CHARLES, LA (BPS)', 'MONROE, LA', 'MORGAN CITY, LA', 'NEW ORLEANS, LA', 'BOSTON, MA', 'GLOUCESTER, MA', 'HANSCOM FIELD - BEDFORD, MA', 'LYNDEN, WA', 'ANDREWS AFB, MD', 'BALTIMORE, MD', 'MUSKEGON, MD', 'PATUXENT RIVER, MD', 'BANGOR, ME', 'BOOTHBAY HARBOR, ME', 'BRIDGEWATER, ME', 'BUCKPORT, ME', 'CALAIS, ME', 'CARIBOU, ME', 'COBURN GORE, ME', 'EASTCOURT, ME', 'EASTPORT MUNICIPAL, ME', 'EASTPORT, ME', 'FOREST CITY, ME', 'FORT FAIRFIELD, ME', 'FORT KENT, ME', 'HAMIIN, ME', 'HOULTON, ME', 'JACKMAN, ME', 'KALISPEL, MT', 'LIMESTONE, ME', 'LUBEC, ME', 'MADAWASKA, ME', 'PORTLAND, ME', 'RANGELEY, ME (BPS)', 'SOUTH BREWER, ME', 'ST AURELIE, ME', 'ST PAMPILE, ME', 'VAN BUREN, ME', 'VANCEBORO, ME', 'ALGONAC, MI', 'ALPENA, MI', 'BAY CITY, MI', 'DETROIT, MI', 'GRAND RAPIDS, MI', 'GROSSE ISLE, MI', 'ISLE ROYALE, MI', 'MARINE CITY, MI', 'MARYSVILLE, MI', 'OAKLAND COUNTY - PONTIAC, MI', 'PORT HURON, MI', 'ROBERTS LANDING, MI', 'SAGINAW, MI', 'SAULT STE. MARIE, MI', 'ST CLAIR, MI', 'WILLOW RUN - YPSILANTI, MI', 'BAUDETTE, MN', 'CARIBOU MUNICIPAL AIRPORT, MN', 'Collapsed into INT, MN', 'Collapsed into INT, MN', 'CRANE LAKE, MN', 'CRYSTAL MUNICIPAL AIRPORT, MN', 'DULUTH, MN', 'ELY, MN', 'GRAND PORTAGE, MN', 'GRANT COUNTY - SILVER CITY, MN', 'L FALLS, MN', 'LANCASTER, MN', 'MINN./ST PAUL, MN', 'NORTHERN SVC CENTER, MN', 'NOYES, MN', 'PINE CREEK, MN', 'PINECREEK BORDER ARPT, MN', 'RAINER, MN', 'ROCHESTER, MN', 'ROSEAU, MN', 'ST PAUL, MN', 'WARROAD INTL, SPB, MN', 'WARROAD, MN', 'KANSAS CITY, MO', 'SPRINGFIELD-BRANSON, MO', 'ST LOUIS, MO', 'WHITETAIL, MT', 'WILD HORSE, MT', 'BILOXI REGIONAL, MS', 'GOLDEN TRIANGLE LOWNDES CNTY, MS', 'GULFPORT, MS', 'PASCAGOULA, MS', 'THOMPSON FIELD - JACKSON, MS', 'BILLINGS, MT', 'BUTTE, MT', 'CHIEF MT, MT', 'CUT BANK MUNICIPAL, MT', 'CUT BANK, MT', 'DEL BONITA, MT', 'EUREKA, MT (BPS)', 'GALLATIN FIELD - BOZEMAN, MT', 'GLACIER NATIONAL PARK, MT', 'GLASGOW, MT', 'GREAT FALLS, MT', 'HAVRE, MT', 'HELENA, MT', 'LEWISTON, MT', 'MORGAN, MT', 'OPHEIM, MT', 'PIEGAN, MT', 'RAYMOND, MT', 'ROOSVILLE, MT', 'SCOBEY, MT', 'SWEETGTASS, MT', 'TRIAL CREEK, MT', 'TURNER, MT', 'WILLOW CREEK, MT', 'CHARLOTTE, NC', 'FAYETTEVILLE, NC', 'MOREHEAD CITY, NC', 'MORRIS FIELDS AAF, NC', 'PIEDMONT TRIAD INTL AIRPORT, NC', 'RALEIGH/DURHAM, NC', 'SHAW AFB - SUMTER, NC', 'WILMINGTON, NC', 'AMBROSE, ND', 'ANTLER, ND', 'CARBURY, ND', 'DUNSEITH, ND', 'FARGO, ND', 'FORTUNA, ND', 'GRAND FORKS, ND', 'HANNAH, ND', 'HANSBORO, ND', 'MAIDA, ND', 'MINOT, ND', 'NECHE, ND', 'NOONAN, ND', 'NORTHGATE, ND', 'PEMBINA, ND', 'SARLES, ND', 'SHERWOOD, ND', 'ST JOHN, ND', 'WALHALLA, ND', 'WESTHOPE, ND', 'WILLISTON, ND', 'OMAHA, NE', 'LEBANON, NH', 'MANCHESTER, NH', 'PITTSBURG, NH', 'PORTSMOUTH, NH', 'BAYONNE, NJ', 'CAMDEN, NJ', 'HOBOKEN, NJ', 'JERSEY CITY, NJ', 'MC GUIRE AFB - WRIGHTSOWN, NJ', 'MORRISTOWN, NJ', 'NEWARK/TETERBORO, NJ', 'PERTH AMBOY, NJ', 'POMONA FIELD - ATLANTIC CITY, NJ', 'ALAMAGORDO, NM (BPS)', 'ALBUQUERQUE, NM', 'ANTELOPE WELLS, NM', 'CARLSBAD, NM', 'COLUMBUS, NM', 'CRANE LAKE - ST. LOUIS CNTY, NM', 'DEMING, NM (BPS)', 'LAS CRUCES, NM', 'LORDSBURG, NM (BPS)', 'RUIDOSO, NM', 'SANTA TERESA, NM', 'CANNON INTL - RENO/TAHOE, NV', 'FALLON MUNICIPAL AIRPORT, NV', 'LAS VEGAS, NV', 'RENO, NV', 'ALBANY, NY', 'ALEXANDRIA BAY, NY', 'BUFFALO, NY', 'CANNON CORNERS, NY', 'CAPE VINCENT, NY', 'CHAMPLAIN, NY', 'CHATEAUGAY, NY', 'CLAYTON, NY', 'FORT COVINGTON, NY', 'LA GUARDIA, NY', 'LEWISTON, NY', 'MASSENA, NY', 'MCGUIRE AFB, NY', 'MOORES, NY', 'MORRISTOWN, NY', 'NEW YORK, NY', 'NIAGARA FALLS, NY', 'OGDENSBURG, NY', 'OSWEGO, NY', 'REGIONAL ARPT - HORSEHEAD, NY', 'ROCHESTER, NY', 'ROUSES POINT, NY', 'STEWART - ORANGE CNTY, NY', 'SYRACUSE, NY', 'THOUSAND ISLAND BRIDGE, NY', 'TROUT RIVER, NY', 'WATERTOWN, NY', 'WESTCHESTER - WHITE PLAINS, NY', 'WHIRLPOOL BRIDGE, NY', 'YOUNGSTOWN, NY', 'AKRON, OH', 'ASHTABULA, OH', 'CINCINNATI, OH', 'CLEVELAND, OH', 'COLUMBUS, OH', 'LORAIN, OH', 'MARBLE HEADS, OH', 'SANDUSKY, OH', 'TOLEDO, OH', 'OKLAHOMA CITY, OK', 'TULSA, OK', 'ASTORIA, OR', 'COOS BAY, OR', 'HILLSBORO, OR', 'MEDFORD, OR', 'NEWPORT, OR', 'PORTLAND, OR', 'PUT-IN-BAY, OH', 'ROBERTS FIELDS - REDMOND, OR', 'ERIE, PA', 'HARRISBURG, PA', 'HARRISONBURG, PA', 'PHILADELPHIA, PA', 'PITTSBURG, PA', 'AGUADILLA, PR', 'BORINQUEN - AGUADILLO, PR', 'CULEBRA - BENJAMIN RIVERA, PR', 'ENSENADA, PR', 'FAJARDO, PR', 'HUMACAO, PR', 'JOBOS, PR', 'MAYAGUEZ, PR', 'PONCE, PR', 'PONCE-MERCEDITA, PR', 'SAN JUAN, PR', 'VIEQUES-ARPT, PR', 'PROVIDENCE, RI', 'THEODORE FRANCIS - WARWICK, RI', 'CHARLESTON, SC', 'COLUMBIA, SC #ARPT', 'GEORGETOWN, SC', 'GREENVILLE, SC', 'GREER, SC', 'MYRTLE BEACH, SC', 'BLACK HILLS, SPEARFISH, SD', 'HOWES REGIONAL ARPT - HURON, SD', 'SAIPAN, SPN', 'MC GHEE TYSON - ALCOA, TN', 'MEMPHIS, TN', 'NASHVILLE, TN', 'TRI CITY ARPT, TN', 'ADDISON AIRPORT- ADDISON, TX', 'AMISTAD DAM, TX', 'ANZALDUAS, TX', 'AUSTIN, TX', 'BEAUMONT, TX', 'BIG BEND PARK, TX (BPS)', 'BP SPEC COORD. CTR, TX', 'BP TACTICAL UNIT, TX', 'BRIDGE OF AMERICAS, TX', 'BROWNSVILLE, TX', 'CORPUS CHRISTI, TX', 'DALLAS, TX', 'DEL RIO, TX', 'DONNA, TX', 'EAGLE PASS, TX', 'EL PASO, TX', 'FABENS, TX', 'FALCON HEIGHTS, TX', 'FORT HANCOCK, TX', 'FORT WORTH ALLIANCE, TX', 'FREEPORT, TX', 'GALVESTON, TX', 'HARLINGEN, TX', 'HIDALGO, TX', 'HOUSTON, TX', 'HULL FIELD, SUGAR LAND ARPT, TX', 'JUAREZ-LINCOLN BRIDGE, TX', 'LAREDO COLUMBIA BRIDGE, TX', 'LAREDO NORTH, TX', 'LAREDO, TX', 'LOS EBANOS, TX', 'LOS INDIOS, TX', 'LOS INDIOS, TX', 'MARFA, TX (BPS)', 'MCALLEN, TX', 'ODESSA REGIONAL, TX', 'PASO DEL NORTE,TX', 'PEACE BRIDGE, NY', 'PHARR, TX', 'PORT ARTHUR, TX', 'PORT ISABEL, TX', 'PORT OF EL PASO, TX', 'PRESIDIO, TX', 'PROGRESO, TX', 'RIO GRANDE CITY, TX', 'ROMA, TX', 'SAN ANTONIO, TX', 'SANDERSON, TX', 'VETERAN INTL BRIDGE, TX', 'YSLETA, TX', 'CHARLOTTE AMALIE, VI', 'CHRISTIANSTED, VI', 'CRUZ BAY, ST JOHN, VI', 'FREDERIKSTED, VI', 'ST THOMAS, VI', 'CACHE AIRPORT - LOGAN, UT', 'SALT LAKE CITY, UT', 'ALBEMARLE CHARLOTTESVILLE, VA', 'DAVISON AAF - FAIRFAX CNTY, VA', 'HOPEWELL, VA', 'MANASSAS, VA #ARPT', 'NEWPORT, VA', 'NORFOLK, VA', 'RICHMOND, VA', 'ALBURG SPRINGS, VT', 'ALBURG, VT', 'BEEBE PLAIN, VT', 'BEECHER FALLS, VT', 'BURLINGTON, VT', 'CANAAN, VT', 'DERBY LINE, VT (I-91)', 'DERBY LINE, VT (RT. 5)', 'EAST RICHFORD, VT', 'HIGHGATE SPRINGS, VT', 'MORSES LINE, VT', 'NEWPORT, VT', 'NORTH TROY, VT', 'NORTON, VT', 'PINNACLE ROAD, VT', 'RICHFORT, VT', 'ST ALBANS, VT', 'SWANTON, VT (BP - SECTOR HQ)', 'WEST BERKSHIRE, VT', 'ABERDEEN, WA', 'ANACORTES, WA', 'BELLINGHAM, WA', 'BELLINGHAM, WASHINGTON #INTL', 'BLAINE, WA', 'BOUNDARY, WA', 'CURLEW, WA (BPS)', 'DANVILLE, WA', 'EVERETT, WA', 'FERRY, WA', 'FRIDAY HARBOR, WA', 'FRONTIER, WA', 'KALAMA, WA', 'LAURIER, WA', 'LONGVIEW, WA', 'METALINE FALLS, WA', 'MOSES LAKE GRANT COUNTY ARPT, WA', 'NEAH BAY, WA', 'NIGHTHAWK, WA', 'OLYMPIA, WA', 'OROVILLE, WA', 'PASCO, WA', 'POINT ROBERTS, WA', 'PORT ANGELES, WA', 'PORT TOWNSEND, WA', 'SEATTLE, WA', 'SPOKANE, WA', 'SUMAS, WA', 'TACOMA, WA', 'TRI-CITIES - PASCO, WA', 'VANCOUVER, WA', 'ALGOMA, WI', 'BAYFIELD, WI', 'GREEN BAY, WI', 'MANITOWOC, WI', 'MILWAUKEE, WI', 'TRUAX FIELD - DANE COUNTY, WI', 'CHARLESTON, WV', 'CLARKSBURG, WV', 'MERCER COUNTY, WV', 'CASPER, WY', 'CALGARY, CANADA', 'EDMONTON, CANADA', 'HAKAI PASS, CANADA', 'Halifax, NS, Canada', 'MONTREAL, CANADA', 'OTTAWA, CANADA', 'SASKATOON, CANADA', 'TORONTO, CANADA', 'VANCOUVER, CANADA', 'VICTORIA, CANADA', 'WINNIPEG, CANADA', 'AMSTERDAM-SCHIPHOL, NETHERLANDS', 'ARUBA, NETH ANTILLES', 'BANKOK, THAILAND', 'BEICA #ARPT, ETHIOPIA', 'BEIJING CAPITAL INTL, PRC', 'KINDLEY FIELD, BERMUDA', 'BOGOTA, EL DORADO #ARPT, COLOMBIA', 'BUENOS AIRES, MINISTRO PIST, ARGENTINA', 'CANCUN, MEXICO', 'CARAVELAS, BA #ARPT, BRAZIL', 'CARRASCO, URUGUAY', 'DUBLIN, IRELAND', 'FOUGAMOU #ARPT, GABON', 'FREEPORT, BAHAMAS', 'GEN M. ESCOBEDO, Monterrey, MX', 'GEN PESQUEIRA GARCIA, MX', 'GRAND CAYMAN, CAYMAN ISLAND', 'GUADALAJARA, MIGUEL HIDAL, MX', 'HAMILTON, BERMUDA', 'INCHON, SEOUL KOREA', 'INVALID - IWAKUNI, JAPAN', 'KOGALNICEANU, ROMANIA', 'LABUHA ARPT, INDONESIA', 'LOUIS BOTHA, SOUTH AFRICA', 'MANGOLE ARPT, INDONESIA', 'MEDELLIN, COLOMBIA', 'JUAREZ INTL, MEXICO CITY, MX', 'MIDDLESEX, ENGLAND', 'NAIROBI, KENYA', 'NASSAU, BAHAMAS', 'NORTH CAICOS, TURK & CAIMAN', 'OMAR TORRIJOS, PANAMA', 'PAPUA, NEW GUINEA', 'QUITO (MARISCAL SUCR), ECUADOR', 'ROME, ITALY', 'SAKON NAKHON #ARPT, THAILAND', 'SAN LUIS POTOSI #ARPT, MEXICO', 'SAN SALVADOR, EL SALVADOR', 'SANTANA RAMOS #ARPT, COLOMBIA', 'GUARULHOS INTL, SAO PAULO, BRAZIL', 'SHANNON, IRELAND', 'SHILLAVO, ETHIOPIA', 'TOROKINA #ARPT, PAPUA, NEW GUINEA', 'VERACRUZ, MEXICO', 'WEST SUSSEX, ENGLAND', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', 'CANNON CORNERS, NY', 'Abu Dhabi', 'MAGNOLIA, AR', 'BAR HARBOR, ME', 'BIRMINGHAM, AL', 'AKRON, OH', 'SUFFOLK COUNTY, NY', 'LANDER, WY', 'MARFA, TX', 'MOLINE, IL', 'RIVERSIDE, CA', 'ROME, NY', 'VAN NUYS, CA', 'YUMA, AZ']

In [16]:
pCities = [f.split(",")[0] for f in port_locations]
print(pCities)

['ALCAN', 'ANCHORAGE', 'BAKER AAF - BAKER ISLAND', 'DALTONS CACHE', 'DEW STATION PT LAY DEW', 'DUTCH HARBOR', 'EAGLE', 'FAIRBANKS', 'HOMER', 'HYDER', 'JUNEAU', 'KETCHIKAN', 'KETCHIKAN', 'MOSES POINT INTERMEDIATE', 'NIKISKI', 'NOM', 'POKER CREEK', 'PORT LIONS SPB', 'SKAGWAY', 'ST. PAUL ISLAND', 'TOKEEN', 'WRANGELL', 'MADISON COUNTY - HUNTSVILLE', 'MOBILE', 'LITTLE ROCK', 'ROGERS ARPT', 'DOUGLAS', 'LUKEVILLE', 'MARIPOSA AZ', 'NACO', 'NOGALES', 'PHOENIX', 'PORTAL', 'SAN LUIS', 'SASABE', 'TUCSON', 'YUMA', 'ANDRADE', 'BURBANK', 'CALEXICO', 'CAMPO', 'FRESNO', 'IMPERIAL COUNTY', 'LONG BEACH', 'LOS ANGELES', 'MEADOWS FIELD - BAKERSFIELD', 'OAKLAND', 'ONTARIO', 'OTAY MESA', 'PACIFIC', 'PALM SPRINGS', 'SACRAMENTO', 'SALINAS', 'SAN DIEGO', 'SAN FRANCISCO', 'SAN JOSE', 'SAN LUIS OBISPO', 'SAN LUIS OBISPO', 'SAN PEDRO', 'SAN YSIDRO', 'SANTA ANA', 'STOCKTON', 'TECATE', 'TRAVIS-AFB', 'ARAPAHOE COUNTY', 'ASPEN', 'COLORADO SPRINGS', 'DENVER', 'LA PLATA - DURANGO', 'BRADLEY INTERNATIONAL', 'BRIDGEPORT', 'GROTON', 'HARTFORD', 'NEW HAVEN', 'NEW LONDON', 'NEWINGTON DATA CENTER TEST', 'WASHINGTON DC', 'DOVER AFB', 'DOVER-AFB', 'WILMINGTON', 'BOCAGRANDE', 'BRADENTON - SARASOTA', 'CAPE CANAVERAL', 'DAYTONA BEACH INTERNATIONAL', 'FERNANDINA', 'FORT LAUDERDALE', 'FORT MYERS', 'FORT PIERCE', 'HURLBURT FIELD', 'J R ALISON MUNI - GAINESVILLE', 'JACKSONVILLE', 'KEY WEST', 'LEESBURG MUNICIPAL AIRPORT', 'MELBOURNE', 'MIAMI', 'NAPLES', 'OPA LOCKA', 'ORLANDO', 'PANAMA CITY', 'PENSACOLA', 'PORT CANAVERAL', 'PORT EVERGLADES', 'PORT ST JOE', 'SANFORD', 'ST AUGUSTINE ARPT', 'ST AUGUSTINE', 'ST LUCIE COUNTY', 'ST PETERSBURG', 'TAMPA', 'WEST PALM BEACH', 'ATLANTA', 'BRUNSWICK', 'BUSH FIELD - AUGUSTA', 'SAVANNAH', 'AGANA', 'HONOLULU', 'KAHULUI - MAUI', 'KEAHOLE-KONA', 'LIHUE', 'CEDAR RAPIDS/IOWA CITY', 'DES MOINES', 'AIR TERM. (GOWEN FLD) BOISE', 'EASTPORT', 'FANNING FIELD - IDAHO FALLS', 'PORTHILL', 'CAPITAL - SPRINGFIELD', 'CHICAGO', 'DUPAGE COUNTY', 'GREATER PEORIA', 'GREATER ROCKFORD', 'MEMORIAL - WAUKEGAN', 'GARY', 'HAMMOND', 'INDIANAPOLIS', 'MERRILLVILLE', 'SOUTH BEND', 'MID-CONTINENT - WITCHITA', 'BLUE GRASS - LEXINGTON', 'LOUISVILLE', 'BATON ROUGE', 'LAKE CHARLES', 'LAKE CHARLES', 'MONROE', 'MORGAN CITY', 'NEW ORLEANS', 'BOSTON', 'GLOUCESTER', 'HANSCOM FIELD - BEDFORD', 'LYNDEN', 'ANDREWS AFB', 'BALTIMORE', 'MUSKEGON', 'PATUXENT RIVER', 'BANGOR', 'BOOTHBAY HARBOR', 'BRIDGEWATER', 'BUCKPORT', 'CALAIS', 'CARIBOU', 'COBURN GORE', 'EASTCOURT', 'EASTPORT MUNICIPAL', 'EASTPORT', 'FOREST CITY', 'FORT FAIRFIELD', 'FORT KENT', 'HAMIIN', 'HOULTON', 'JACKMAN', 'KALISPEL', 'LIMESTONE', 'LUBEC', 'MADAWASKA', 'PORTLAND', 'RANGELEY', 'SOUTH BREWER', 'ST AURELIE', 'ST PAMPILE', 'VAN BUREN', 'VANCEBORO', 'ALGONAC', 'ALPENA', 'BAY CITY', 'DETROIT', 'GRAND RAPIDS', 'GROSSE ISLE', 'ISLE ROYALE', 'MARINE CITY', 'MARYSVILLE', 'OAKLAND COUNTY - PONTIAC', 'PORT HURON', 'ROBERTS LANDING', 'SAGINAW', 'SAULT STE. MARIE', 'ST CLAIR', 'WILLOW RUN - YPSILANTI', 'BAUDETTE', 'CARIBOU MUNICIPAL AIRPORT', 'Collapsed into INT', 'Collapsed into INT', 'CRANE LAKE', 'CRYSTAL MUNICIPAL AIRPORT', 'DULUTH', 'ELY', 'GRAND PORTAGE', 'GRANT COUNTY - SILVER CITY', 'L FALLS', 'LANCASTER', 'MINN./ST PAUL', 'NORTHERN SVC CENTER', 'NOYES', 'PINE CREEK', 'PINECREEK BORDER ARPT', 'RAINER', 'ROCHESTER', 'ROSEAU', 'ST PAUL', 'WARROAD INTL', 'WARROAD', 'KANSAS CITY', 'SPRINGFIELD-BRANSON', 'ST LOUIS', 'WHITETAIL', 'WILD HORSE', 'BILOXI REGIONAL', 'GOLDEN TRIANGLE LOWNDES CNTY', 'GULFPORT', 'PASCAGOULA', 'THOMPSON FIELD - JACKSON', 'BILLINGS', 'BUTTE', 'CHIEF MT', 'CUT BANK MUNICIPAL', 'CUT BANK', 'DEL BONITA', 'EUREKA', 'GALLATIN FIELD - BOZEMAN', 'GLACIER NATIONAL PARK', 'GLASGOW', 'GREAT FALLS', 'HAVRE', 'HELENA', 'LEWISTON', 'MORGAN', 'OPHEIM', 'PIEGAN', 'RAYMOND', 'ROOSVILLE', 'SCOBEY', 'SWEETGTASS', 'TRIAL CREEK', 'TURNER', 'WILLOW CREEK', 'CHARLOTTE', 'FAYETTEVILLE', 'MOREHEAD CITY', 'MORRIS FIELDS AAF', 'PIEDMONT TRIAD INTL AIRPORT', 'RALEIGH/DURHAM', 'SHAW AFB - SUMTER', 'WILMINGTON', 'AMBROSE', 'ANTLER', 'CARBURY', 'DUNSEITH', 'FARGO', 'FORTUNA', 'GRAND FORKS', 'HANNAH', 'HANSBORO', 'MAIDA', 'MINOT', 'NECHE', 'NOONAN', 'NORTHGATE', 'PEMBINA', 'SARLES', 'SHERWOOD', 'ST JOHN', 'WALHALLA', 'WESTHOPE', 'WILLISTON', 'OMAHA', 'LEBANON', 'MANCHESTER', 'PITTSBURG', 'PORTSMOUTH', 'BAYONNE', 'CAMDEN', 'HOBOKEN', 'JERSEY CITY', 'MC GUIRE AFB - WRIGHTSOWN', 'MORRISTOWN', 'NEWARK/TETERBORO', 'PERTH AMBOY', 'POMONA FIELD - ATLANTIC CITY', 'ALAMAGORDO', 'ALBUQUERQUE', 'ANTELOPE WELLS', 'CARLSBAD', 'COLUMBUS', 'CRANE LAKE - ST. LOUIS CNTY', 'DEMING', 'LAS CRUCES', 'LORDSBURG', 'RUIDOSO', 'SANTA TERESA', 'CANNON INTL - RENO/TAHOE', 'FALLON MUNICIPAL AIRPORT', 'LAS VEGAS', 'RENO', 'ALBANY', 'ALEXANDRIA BAY', 'BUFFALO', 'CANNON CORNERS', 'CAPE VINCENT', 'CHAMPLAIN', 'CHATEAUGAY', 'CLAYTON', 'FORT COVINGTON', 'LA GUARDIA', 'LEWISTON', 'MASSENA', 'MCGUIRE AFB', 'MOORES', 'MORRISTOWN', 'NEW YORK', 'NIAGARA FALLS', 'OGDENSBURG', 'OSWEGO', 'REGIONAL ARPT - HORSEHEAD', 'ROCHESTER', 'ROUSES POINT', 'STEWART - ORANGE CNTY', 'SYRACUSE', 'THOUSAND ISLAND BRIDGE', 'TROUT RIVER', 'WATERTOWN', 'WESTCHESTER - WHITE PLAINS', 'WHIRLPOOL BRIDGE', 'YOUNGSTOWN', 'AKRON', 'ASHTABULA', 'CINCINNATI', 'CLEVELAND', 'COLUMBUS', 'LORAIN', 'MARBLE HEADS', 'SANDUSKY', 'TOLEDO', 'OKLAHOMA CITY', 'TULSA', 'ASTORIA', 'COOS BAY', 'HILLSBORO', 'MEDFORD', 'NEWPORT', 'PORTLAND', 'PUT-IN-BAY', 'ROBERTS FIELDS - REDMOND', 'ERIE', 'HARRISBURG', 'HARRISONBURG', 'PHILADELPHIA', 'PITTSBURG', 'AGUADILLA', 'BORINQUEN - AGUADILLO', 'CULEBRA - BENJAMIN RIVERA', 'ENSENADA', 'FAJARDO', 'HUMACAO', 'JOBOS', 'MAYAGUEZ', 'PONCE', 'PONCE-MERCEDITA', 'SAN JUAN', 'VIEQUES-ARPT', 'PROVIDENCE', 'THEODORE FRANCIS - WARWICK', 'CHARLESTON', 'COLUMBIA', 'GEORGETOWN', 'GREENVILLE', 'GREER', 'MYRTLE BEACH', 'BLACK HILLS', 'HOWES REGIONAL ARPT - HURON', 'SAIPAN', 'MC GHEE TYSON - ALCOA', 'MEMPHIS', 'NASHVILLE', 'TRI CITY ARPT', 'ADDISON AIRPORT- ADDISON', 'AMISTAD DAM', 'ANZALDUAS', 'AUSTIN', 'BEAUMONT', 'BIG BEND PARK', 'BP SPEC COORD. CTR', 'BP TACTICAL UNIT', 'BRIDGE OF AMERICAS', 'BROWNSVILLE', 'CORPUS CHRISTI', 'DALLAS', 'DEL RIO', 'DONNA', 'EAGLE PASS', 'EL PASO', 'FABENS', 'FALCON HEIGHTS', 'FORT HANCOCK', 'FORT WORTH ALLIANCE', 'FREEPORT', 'GALVESTON', 'HARLINGEN', 'HIDALGO', 'HOUSTON', 'HULL FIELD', 'JUAREZ-LINCOLN BRIDGE', 'LAREDO COLUMBIA BRIDGE', 'LAREDO NORTH', 'LAREDO', 'LOS EBANOS', 'LOS INDIOS', 'LOS INDIOS', 'MARFA', 'MCALLEN', 'ODESSA REGIONAL', 'PASO DEL NORTE', 'PEACE BRIDGE', 'PHARR', 'PORT ARTHUR', 'PORT ISABEL', 'PORT OF EL PASO', 'PRESIDIO', 'PROGRESO', 'RIO GRANDE CITY', 'ROMA', 'SAN ANTONIO', 'SANDERSON', 'VETERAN INTL BRIDGE', 'YSLETA', 'CHARLOTTE AMALIE', 'CHRISTIANSTED', 'CRUZ BAY', 'FREDERIKSTED', 'ST THOMAS', 'CACHE AIRPORT - LOGAN', 'SALT LAKE CITY', 'ALBEMARLE CHARLOTTESVILLE', 'DAVISON AAF - FAIRFAX CNTY', 'HOPEWELL', 'MANASSAS', 'NEWPORT', 'NORFOLK', 'RICHMOND', 'ALBURG SPRINGS', 'ALBURG', 'BEEBE PLAIN', 'BEECHER FALLS', 'BURLINGTON', 'CANAAN', 'DERBY LINE', 'DERBY LINE', 'EAST RICHFORD', 'HIGHGATE SPRINGS', 'MORSES LINE', 'NEWPORT', 'NORTH TROY', 'NORTON', 'PINNACLE ROAD', 'RICHFORT', 'ST ALBANS', 'SWANTON', 'WEST BERKSHIRE', 'ABERDEEN', 'ANACORTES', 'BELLINGHAM', 'BELLINGHAM', 'BLAINE', 'BOUNDARY', 'CURLEW', 'DANVILLE', 'EVERETT', 'FERRY', 'FRIDAY HARBOR', 'FRONTIER', 'KALAMA', 'LAURIER', 'LONGVIEW', 'METALINE FALLS', 'MOSES LAKE GRANT COUNTY ARPT', 'NEAH BAY', 'NIGHTHAWK', 'OLYMPIA', 'OROVILLE', 'PASCO', 'POINT ROBERTS', 'PORT ANGELES', 'PORT TOWNSEND', 'SEATTLE', 'SPOKANE', 'SUMAS', 'TACOMA', 'TRI-CITIES - PASCO', 'VANCOUVER', 'ALGOMA', 'BAYFIELD', 'GREEN BAY', 'MANITOWOC', 'MILWAUKEE', 'TRUAX FIELD - DANE COUNTY', 'CHARLESTON', 'CLARKSBURG', 'MERCER COUNTY', 'CASPER', 'CALGARY', 'EDMONTON', 'HAKAI PASS', 'Halifax', 'MONTREAL', 'OTTAWA', 'SASKATOON', 'TORONTO', 'VANCOUVER', 'VICTORIA', 'WINNIPEG', 'AMSTERDAM-SCHIPHOL', 'ARUBA', 'BANKOK', 'BEICA #ARPT', 'BEIJING CAPITAL INTL', 'KINDLEY FIELD', 'BOGOTA', 'BUENOS AIRES', 'CANCUN', 'CARAVELAS', 'CARRASCO', 'DUBLIN', 'FOUGAMOU #ARPT', 'FREEPORT', 'GEN M. ESCOBEDO', 'GEN PESQUEIRA GARCIA', 'GRAND CAYMAN', 'GUADALAJARA', 'HAMILTON', 'INCHON', 'INVALID - IWAKUNI', 'KOGALNICEANU', 'LABUHA ARPT', 'LOUIS BOTHA', 'MANGOLE ARPT', 'MEDELLIN', 'JUAREZ INTL', 'MIDDLESEX', 'NAIROBI', 'NASSAU', 'NORTH CAICOS', 'OMAR TORRIJOS', 'PAPUA', 'QUITO (MARISCAL SUCR)', 'ROME', 'SAKON NAKHON #ARPT', 'SAN LUIS POTOSI #ARPT', 'SAN SALVADOR', 'SANTANA RAMOS #ARPT', 'GUARULHOS INTL', 'SHANNON', 'SHILLAVO', 'TOROKINA #ARPT', 'VERACRUZ', 'WEST SUSSEX', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', 'CANNON CORNERS', 'Abu Dhabi', 'MAGNOLIA', 'BAR HARBOR', 'BIRMINGHAM', 'AKRON', 'SUFFOLK COUNTY', 'LANDER', 'MARFA', 'MOLINE', 'RIVERSIDE', 'ROME', 'VAN NUYS', 'YUMA']

In [17]:
pStates = [f.split(",")[-1] for f in port_locations]
print(pStates)

[' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AK', ' AL', ' AL', ' AR (BPS)', ' AR', ' AZ', ' AZ', 'MARIPOSA AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' AZ', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CA', ' CA (BPS)', ' CA', ' CA', ' CO', ' CO #ARPT', ' CO', ' CO', ' CO', ' CT', ' CT', ' CT', ' CT', ' CT', ' CT', ' CT', 'WASHINGTON DC', ' DE', ' DE', ' DE', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL #ARPT', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' FL', ' GA', ' GA', ' GA', ' GA', ' GU', ' HI', ' HI', ' HI', ' HI', ' IA', ' IA', ' ID', ' ID', ' ID', ' ID', ' IL', ' IL', ' IL', ' IL', ' IL', ' IL', ' IN', ' IN', ' IN', ' IN', ' IN', ' KS', ' KY', ' KY', ' LA', ' LA', ' LA (BPS)', ' LA', ' LA', ' LA', ' MA', ' MA', ' MA', ' WA', ' MD', ' MD', ' MD', ' MD', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' ME', ' MT', ' ME', ' ME', ' ME', ' ME', ' ME (BPS)', ' ME', ' ME', ' ME', ' ME', ' ME', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MI', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MN', ' MO', ' MO', ' MO', ' MT', ' MT', ' MS', ' MS', ' MS', ' MS', ' MS', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT (BPS)', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' MT', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' NC', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' ND', ' NE', ' NH', ' NH', ' NH', ' NH', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NJ', ' NM (BPS)', ' NM', ' NM', ' NM', ' NM', ' NM', ' NM (BPS)', ' NM', ' NM (BPS)', ' NM', ' NM', ' NV', ' NV', ' NV', ' NV', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' NY', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OH', ' OK', ' OK', ' OR', ' OR', ' OR', ' OR', ' OR', ' OR', ' OH', ' OR', ' PA', ' PA', ' PA', ' PA', ' PA', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' PR', ' RI', ' RI', ' SC', ' SC #ARPT', ' SC', ' SC', ' SC', ' SC', ' SD', ' SD', ' SPN', ' TN', ' TN', ' TN', ' TN', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX (BPS)', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX (BPS)', ' TX', ' TX', 'TX', ' NY', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' TX', ' VI', ' VI', ' VI', ' VI', ' VI', ' UT', ' UT', ' VA', ' VA', ' VA', ' VA #ARPT', ' VA', ' VA', ' VA', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT (I-91)', ' VT (RT. 5)', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT', ' VT (BP - SECTOR HQ)', ' VT', ' WA', ' WA', ' WA', ' WASHINGTON #INTL', ' WA', ' WA', ' WA (BPS)', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WA', ' WI', ' WI', ' WI', ' WI', ' WI', ' WI', ' WV', ' WV', ' WV', ' WY', ' CANADA', ' CANADA', ' CANADA', ' Canada', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' CANADA', ' NETHERLANDS', ' NETH ANTILLES', ' THAILAND', ' ETHIOPIA', ' PRC', ' BERMUDA', ' COLOMBIA', ' ARGENTINA', ' MEXICO', ' BRAZIL', ' URUGUAY', ' IRELAND', ' GABON', ' BAHAMAS', ' MX', ' MX', ' CAYMAN ISLAND', ' MX', ' BERMUDA', ' SEOUL KOREA', ' JAPAN', ' ROMANIA', ' INDONESIA', ' SOUTH AFRICA', ' INDONESIA', ' COLOMBIA', ' MX', ' ENGLAND', ' KENYA', ' BAHAMAS', ' TURK & CAIMAN', ' PANAMA', ' NEW GUINEA', ' ECUADOR', ' ITALY', ' THAILAND', ' MEXICO', ' EL SALVADOR', ' COLOMBIA', ' BRAZIL', ' IRELAND', ' ETHIOPIA', ' NEW GUINEA', ' MEXICO', ' ENGLAND', 'MEXICO Land (Banco de Mexico)', 'No PORT Code (CHN)', ' NY', 'Abu Dhabi', ' AR', ' ME', ' AL', ' OH', ' NY', ' WY', ' TX', ' IL', ' CA', ' NY', ' CA', ' AZ']

In [43]:
a = {"port_code" : pCode, "port_city": pCities, "port_state": pStates}
df_port_locations = pd.DataFrame.from_dict(a, orient='index')
i94port_valid_df = df_port_locations.transpose()
i94port_valid_df.head(20)

   port_code                 port_city port_state
0        ALC                     ALCAN         AK
1        ANC                 ANCHORAGE         AK
2        BAR  BAKER AAF - BAKER ISLAND         AK
3        DAC             DALTONS CACHE         AK
4        PIZ    DEW STATION PT LAY DEW         AK
5        DTH              DUTCH HARBOR         AK
6        EGL                     EAGLE         AK
7        FRB                 FAIRBANKS         AK
8        HOM                     HOMER         AK
9        HYD                     HYDER         AK
10       JUN                    JUNEAU         AK
11       5KE                 KETCHIKAN         AK
12       KET                 KETCHIKAN         AK
13       MOS  MOSES POINT INTERMEDIATE         AK
14       NIK                   NIKISKI         AK
15       NOM                       NOM         AK
16       PKC               POKER CREEK         AK
17       ORI            PORT LIONS SPB         AK
18       SKA                   SKAGWAY         AK
19       SNP           ST. PAUL ISLAND         AK

In [47]:
#Clean the data with valid formats
new_df=df[df.i94port.isin(i94port_valid_df.port_code)]

In [ ]:
processed_row_amount= len(new_df)
filtered_row_amount= raw_row_amount - processed_row_amount
print(f"Raw immigration data amount: {raw_row_amount}")
print(f"Final immigration data amount: {processed_row_amount}")
print(f"Number of rows cleaned: {filtered_row_amount}")

In [48]:
new_df.head(20)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1953.0,09302016,NaN,NaN,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,NaN,M,1970.0,09302016,NaN,NaN,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,NaN,M,1968.0,09302016,NaN,NaN,AZ,9.247849e+10,00608,B1
10,23.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20671.0,...,NaN,M,1964.0,09302016,NaN,NaN,TK,9.250139e+10,00001,B2
11,24.0,2016.0,4.0,101.0,101.0,TOR,20545.0,1.0,MO,20554.0,...,NaN,M,1983.0,09302016,NaN,NaN,MQ,9.249091e+10,03348,B2
12,27.0,2016.0,4.0,101.0,101.0,BOS,20545.0,1.0,MA,20549.0,...,NaN,M,1958.0,04062016,M,NaN,LH,9.247876e+10,00422,B1
13,28.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20549.0,...,NaN,M,1960.0,04062016,F,NaN,LH,9.247890e+10,00422,B1
14,29.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,MA,20561.0,...,NaN,M,1954.0,09302016,M,NaN,AZ,9.250378e+10,00614,B2
15,30.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NJ,20578.0,...,NaN,M,1967.0,09302016,M,NaN,OS,9.247021e+10,00089,B2
16,31.0,2016.0,4.0,101.0,101.0,ATL,20545.0,1.0,NY,20611.0,...,NaN,M,1973.0,09302016,M,NaN,OS,9.247129e+10,00089,B2
17,33.0,2016.0,4.0,101.0,101.0,HOU,20545.0,1.0,TX,20554.0,...,NaN,M,1963.0,09302016,F,NaN,TK,9.250930e+10,00033,B2
18,34.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1968.0,09302016,M,NaN,AZ,9.247042e+10,00602,B2
19,35.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,CT,NaN,...,NaN,NaN,1942.0,09302016,F,NaN,TK,6.697122e+08,1,B2
20,36.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20561.0,...,NaN,M,1979.0,09302016,M,NaN,TK,9.250626e+10,00001,B2

In [83]:
#Clean up null data from average temperature
df_temp_data = df_temp_data[df_temp_data.AverageTemperature.notnull()]

In [84]:
df_temp_data.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E

In [85]:
#Join the temperature data with i94port to bring port_code column
df_temp_data=pd.merge(df_temp_data, i94port_valid_df, left_on='City', right_on='port_city', how='left').drop(['port_city','port_state'], axis=1)

In [86]:
# Clean up the null values
df_temp_data = df_temp_data[df_temp_data.port_code.notnull()]
df_temp_data.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude,port_code
52150,1843-01-01,18.874,2.017,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52151,1843-02-01,19.993,1.790,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52152,1843-03-01,21.656,1.912,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52153,1843-04-01,25.205,1.853,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52154,1843-05-01,28.203,1.551,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52155,1843-06-01,31.411,1.584,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52156,1843-07-01,33.524,1.477,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52157,1843-08-01,33.377,1.776,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52158,1843-09-01,30.902,1.206,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52159,1843-11-01,23.151,1.399,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52160,1843-12-01,20.159,2.281,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52161,1844-01-01,18.370,1.796,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52162,1844-02-01,18.229,2.008,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52163,1844-05-01,28.254,1.559,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52164,1844-06-01,31.289,1.438,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52165,1844-07-01,33.410,1.493,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52166,1844-08-01,33.264,2.132,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52167,1844-09-01,30.413,1.294,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52168,1844-10-01,27.588,1.404,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA
52169,1844-11-01,22.678,1.394,Abu Dhabi,United Arab Emirates,24.92N,54.98E,MAA

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Since I94 data joined with the city temperature data, the fact table will contain the columns below.
- i94yr
- i94mon
- i94cit
- i94port
- arrdate
- i94mode
- depdate
- i94visa
- AverageTemperature

The first dimension table is I94 imigration data. The columns are showed below.
- i94yr
- i94mon
- i94cit
- i94port
- arrdate
- i94mode
- depdate
- i94visa

The second dimension table will be the temperature data.
- i94port
- AverageTemperature
- City
- Country
- Latitude
- Longitude


#### 3.2 Mapping Out Data Pipelines
As described in the step 2, data clean up should be completed first of all.
- Clean up and normalize the I94 data
- Clean up and normalize the temperature data
- Create immigration dimension tables
- - Select the corresponding column from df_immig
- - Write to parquet partitioned by i94port
- Create temperature dimension tables
- - Select the corresponding column from df_temp_data
- - Write to parquet partitioned by i94port
- Create the fact table by joining tables above
- - Write to parquet partitioned by i94port

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [94]:
# Create the database
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [92]:
immigration_final_df = df[['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate', 'depdate', 'visatype', 'i94addr']]

In [95]:
for i, row in immigration_final_df.iterrows():
    cur.execute(immigration_table_insert,list(row.values))
    conn.commit()

IndexError: list index out of range

In [97]:
temperature_final_df = df_temp_data[['AverageTemperature', 'City', 'Country', 'Latitude', 'Longitude', 'port_code']]

In [98]:
for i, row in temperature_final_df.iterrows():
    cur.execute(temperature_table_insert,list(row.values))
    conn.commit()

ProgrammingError: relation "users" does not exist
LINE 1:  INSERT INTO users (AverageTemperature, City, Country, Latit...
                     ^

In [15]:
immig_data = '/data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'

In [16]:
df_immig = clean_immig_data(immig_data)

In [17]:
# Extract columns for immigration dimension table
immigration_table = df_immig.select(["i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate", "i94visa"])

In [18]:
# Write to parquet files partitioned by i94port
immigration_table.write.mode("append").partitionBy("i94port").parquet("/results/immigration.parquet")

In [19]:
# Extract columns for temperature dimension table
temp_table = df_temp_data.select(["AverageTemperature", "City", "Country", "Latitude", "Longitude", "i94port"])

In [ ]:
# Write to parquet files partitioned by i94port
temp_table.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

In [ ]:
# Create temporary views
df_immig.createOrReplaceTempView("immigration_view")
df_temp_data.createOrReplaceTempView("temperature_view")

In [ ]:
# Create the fact table by joining the immigration and temperature views
fact_table = spark.sql('''
                            SELECT immigration_view.i94yr as year,
                                   immigration_view.i94mon as month,
                                   immigration_view.i94cit as city,
                                   immigration_view.i94port as i94port,
                                   immigration_view.arrdate as arrival_date,
                                   immigration_view.depdate as departure_date,
                                   immigration_view.i94visa as reason,
                                   temperature_view.AverageTemperature as temperature,
                                   temperature_view.Latitude as latitude,
                                   temperature_view.Longitude as longitude
                            FROM immigration_view
                            JOIN temperature_view 
                                ON (immigration_view.i94port = temperature_view.i94port)
                        ''')

In [ ]:
# Write fact table to parquet files partitioned by i94port
fact_table.write.mode("append").partitionBy("i94port").parquet("/results/fact.parquet")

#### 4.2 Data Quality Checks
Run Quality Checks

In [ ]:
def quality_check(df, description):
    '''
    Input: Spark dataframe, description of Spark datafram
    Output: Print outcome of data quality check
    '''
    
    result = df.count()
    if result == 0:
        print("Quality check failed for {} with zero records".format(description))
    else:
        print("Quality check passed for {} with {} records".format(description, result))
    return 0

In [ ]:
# Perform data quality check
quality_check(df_immig, "immigration table")
quality_check(df_temp_data, "temperature table")

#### 4.3 Data dictionary 
#### Fact Table:

- i94yr: 4 digit year,
- i94mon: numeric month,
- i94cit: 3 digit code of origin city,
- i94port: 3 character code of destination USA city,
- arrdate: arrival date in the USA,
- i94mode: 1 digit travel code,
- depdate: departure date from the USA,
- i94visa: reason for immigration,
- AverageTemperature: average temperature of destination city

#### Dimension Table - I94 immigration data Events Columns:

- i94yr: 4 digit year
- i94mon: numeric month
- i94cit: 3 digit code of origin city
- i94port: 3 character code of destination USA city
- arrdate: arrival date in the USA
- i94mode: 1 digit travel code
- depdate: departure date from the USA
- i94visa: reason for immigration

#### Dimension Table - temperature data Columns:

- i94port: 3 character code of destination city
- AverageTemperature: average temperature
- City: city name
- Country: country name
- Latitude: latitude
- Longitude: longitude

#### Step 5: Complete Project Write Up
Clearly state the rationale for the choice of tools and technologies for the project.
- There is a significant size of the immigration data which is combined with temperature data. Therefore Spark has been used since it would be the best practice for this case.

Propose how often the data should be updated and why.
- There is a significant size of the immigration data which is combined with temperature data. Therefore Spark has been used since it would be the best practice for this case.

#### Scenarios
Write a description of how you would approach the problem differently under the following scenarios.
- The data was increased by 100x.
- - Use Spark with EMR to process the data in a distributed way with high efficiency
- The data populates a dashboard that must be updated on a daily basis by 7am every day
- - Use Airflow and create a DAG to monitor the process
- The database needed to be accessed by 100+ people
- - Use Redshift. Great auto-scaling capabilities and can be accessed by many people